<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	<title>Best and Top Torrent Search Engine</title>
</head>
<body>
	<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: black">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>

            <!-- Dropdown -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
        </form>
    </div>
    <!-- Collapsible content -->

</nav>
{% block content %}
	<div style="text-align: center;">
		<div class="container">
			<img src="https://images.techhive.com/images/article/2013/02/bittorrent_logo_purple-100024298-orig.jpg" alt="logo" height="400px" width="800px">
		</div>
	</div>
	<br>
	<br>
	<div style="text-align: center;">
    	<div class="container">
	    	<!-- <div class="row">
	    		<div class="col"> -->
	    			<!-- div class="col-sm-6 col-12"> -->
			    		<form method="GET">
			    			<input class="form-control" placeholder="Enter the Keywords" type="text" name="q"><br>
						    <div class="form-row text-center">
						    	<div class="col-12">
						        	<button type="submit" class="btn btn-outline-success">Submit</button>
						    	</div>
						 </div>
			    		</form>
			    	<!-- </div> -->
			    <!-- </div>
			</div> -->
    	</div>
	</div>
    <div class="container">
    	<h3>{{ error }}</h3>
    	<h3>{{ success }}</h3>
    	<a href="{{ li1 }}">{{ na1 }}</a></br>
    		<a href="{{ li2 }}">{{ na2 }}</a></br>
    		<a href="{{ li3 }}">{{ na3 }}</a></br>
    		<a href="{{ li4 }}">{{ na4 }}</a></br>
    		<a href="{{ li5 }}">{{ na5 }}</a></br>
    		<a href="{{ li6 }}">{{ na6 }}</a></br>
    		<a href="{{ li7 }}">{{ na7 }}</a></br>
    		<a href="{{ li8 }}">{{ na8 }}</a></br>
    		<a href="{{ li9 }}">{{ na9 }}</a></br>
    		<a href="{{ li10 }}">{{ na10 }}</a></br>
    		<a href="{{ li11 }}">{{ na11 }}</a></br>
    		<a href="{{ li12 }}">{{ na12 }}</a></br>
    		<a href="{{ li13 }}">{{ na13 }}</a></br>
    		<a href="{{ li14 }}">{{ na14 }}</a></br>
    		<a href="{{ li15 }}">{{ na15 }}</a></br>
    		<a href="{{ li16 }}">{{ na16 }}</a></br>
    		<a href="{{ li17 }}">{{ na17 }}</a></br>
    		<a href="{{ li18 }}">{{ na18 }}</a></br>
    		<a href="{{ li19 }}">{{ na19 }}</a></br>
    		<a href="{{ li20 }}">{{ na20 }}</a></br>
    		<a href="{{ li21 }}">{{ na21 }}</a></br>
    		<a href="{{ li22 }}">{{ na22 }}</a></br>
    		<a href="{{ li23 }}">{{ na23 }}</a></br>
    		<a href="{{ li24 }}">{{ na24 }}</a></br>
    		<a href="{{ li25 }}">{{ na25 }}</a></br>
    		<a href="{{ li26 }}">{{ na26 }}</a></br>
    		<a href="{{ li27 }}">{{ na27 }}</a></br>
    		<a href="{{ li28 }}">{{ na28 }}</a></br>
    </div>
    {% endblock %}
</body>
</html>